<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="kairos-plugin"
   name="Kairos Plugin"
   version="0.0.1"
   provider-name="wing.comp.nus.edu.sg">


   <runtime>
      <library name="kairos-plugin.jar">
         <export name="*"/>
      </library>
      <library name="PDFBox-0.7.4-dev.jar"/>
      <library name="FontBox-0.2.0-dev.jar"/>
      <library name="JempBox-0.2.0-dev.jar"/>
      <library name="bcprov-jdk14-132.jar"/>
   </runtime>


	<extension id="org.apache.nutch.kairos.plugin.KairosHtmlParseFilter"
              name="Kairos Html Parse Filter"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="KairosHtmlParseFilter"
                      class="org.apache.nutch.kairos.plugin.KairosHtmlParseFilter"/>
	</extension>
   
   
	<extension id="org.apache.nutch.kairos.plugin.KairosIndexer"
              name="Kairos Indexer"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="KairosIndexer"
                      class="org.apache.nutch.kairos.plugin.KairosIndexer"/>
	</extension>
   
   
   <!--
	<extension id="org.apache.nutch.kairos.plugin.ParsCitPdfParser"
              name="ParsCit Pdf Parser"
              point="org.apache.nutch.parse.Parser">
      <implementation id="PdfParser"
                      class="org.apache.nutch.kairos.plugin.ParsCitPdfParser">
		<parameter name="contentType" value="application/pdf"/>
        <parameter name="pathSuffix"  value=""/>
	  </implementation>
	</extension>
	-->
</plugin>