<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="wikicfp"
   name="WikiCFP Parser/Filter"
   version="0.0.1"
   provider-name="wing.comp.nus.edu.sg">

   <runtime>
   <!-- As defined in build.xml this plugin will end up bundled as wikicfp.jar -->
      <library name="wikicfp.jar">
         <export name="*"/>
      </library>
   </runtime>

   <!-- The WikicfpHtmlParseFilter extends the HtmlParseFilter to grab the contents of
        any conference information page metadata found on WikiCFP -->
   <extension id="org.apache.nutch.wikicfp.WikicfpHtmlParseFilter"
              name="WikiCFP HTML Parse Filter"
              point="org.apache.nutch.parse.HtmlParseFilter">
      <implementation id="WikicfpHtmlParseFilter"
                      class="org.apache.nutch.wikicfp.WikicfpHtmlParseFilter"/>
   </extension>
    
   <!-- The WikicfpIndexer extends the IndexingFilter in order to add the contents
        of the conference information metadata (as found by the WikicfpHtmlParseFilter) 
		to the lucene index. -->
   <extension id="org.apache.nutch.wikicfp.WikicfpIndexer"
              name="WikiCFP Indexer"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="WikicfpIndexer"
                      class="org.apache.nutch.wikicfp.WikicfpIndexer"/>
   </extension>
         
   <extension id="org.apache.nutch.wikicfp.WikicfpURLNormalizer"
              name="WikiCFP URL Normalizer"
              point="org.apache.nutch.net.URLNormalizer">
      <implementation id="WikicfpURLNormalizer"
                      class="org.apache.nutch.wikicfp.WikicfpURLNormalizer"/>
   </extension>
   
	<extension id="org.apache.nutch.wikicfp.WikicfpURLFilter"
              name="WikiCFP URL Filter"
              point="org.apache.nutch.net.URLFilter">
      <implementation id="WikicfpURLFilter"
                      class="org.apache.nutch.wikicfp.WikicfpURLFilter"/>
   </extension>
</plugin>